@import '../../../common/styles/index.scss';

.stepper {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_header {
    text-align: center;
  }

  &_bullets {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -2rem;

    // @include not-mobile {
    //   margin-left: -3rem;
    // }

    // @include not-desktop {
    //   margin-left: -3rem;
    // }
  }
}