.extension-wrapper {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;

  &_container {
    width: 80%;
    min-height: 80vh;
  }
}