// @font-face {
//   font-family: 'Invention Regular';
//   src: url('/common/fonts/Invention/Invention_W_Rg.woff') format('woff');
// }

// @font-face {
//   font-family: 'Roboto Italic';
//   src: url('/common/fonts/Invention/Invention_W_It.woff') format('woff')
// }

// @font-face {
//   font-family: 'Roboto Bold';
//   src: url('/common/fonts/Invention/Invention_W_Bd.woff') format('woff')
// }

// @font-face {
//   font-family: 'Roboto Bold Italic';
//   src: url('/common/fonts/Invention/Invention_W_BdIt.woff') format('woff')
// }

// @font-face {
//   font-family: 'Roboto Extra Bold';
//   src: url('/common/fonts/Invention/Invention_W_XBd.woff') format('woff')
// }

// @font-face {
//   font-family: 'Roboto Extra Bold Italic';
//   src: url('/common/fonts/Invention/Invention_W_XBdIt.woff') format('woff')
// }

// @font-face {
//   font-family: 'Invention Light';
//   src: url('/common/fonts/Invention/Invention_W_Lt.woff') format('woff')
// }

// @font-face {
//   font-family: 'Invention Light Italic';
//   src: url('/common/fonts/Invention/Invention_W_LtIt.woff') format('woff')
// }

// @font-face {
//   font-family: 'Invention Extra Light';
//   src: url('/common/fonts/Invention/Invention_W_XLt.woff') format('woff')
// }

// @font-face {
//   font-family: 'Invention Extra Light Italic';
//   src: url('/common/fonts/Invention/Invention_W_XLtIt.woff') format('woff')
// }








// @font-face {
//   font-family: 'Roboto Black';
//   src: url('/common/fonts/Roboto/Roboto-Black.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Black Italic';
//   src: url('/common/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Bold';
//   src: url('/common/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Bold Italic';
//   src: url('/common/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Italic';
//   src: url('/common/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Light';
//   src: url('/common/fonts/Roboto/Roboto-Light.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Light Italic';
//   src: url('/common/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Black';
//   src: url('/common/fonts/Roboto/Roboto-Black.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Medium';
//   src: url('/common/fonts/Roboto/Roboto-Black.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Medium Italic';
//   src: url('/common/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Regular';
//   src: url('/common/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Roboto Thin';
//   src: url('/common/fonts/Roboto/Roboto-Thin.ttf') format('truetype')
// }

// @font-face {
//   font-family: 'Roboto Thin Italic';
//   src: url('/common/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype')
// }

@font-face {
  font-family: 'Futura';
  src: url('/common/fonts/FuturaPTLight-Reg.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'Futura';
  src: url('/common/fonts/FuturaPTBook-Reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'Futura';
  src: url('/common/fonts/FuturaPT-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
  
@font-face {
  font-family: 'Futura';
  src: url('/common/fonts/FuturaPT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}