
// colors
$color-background: #EEF3F4;
$color-white: #ffffff;
$color-green-text: #00857A;
$color-green-text-highlight: #66D4CB;
$color-table-header: #DFE6EA;
$color-main-text: #001A23;
$color-light-gray: rgb(177, 195, 204); //#CBD7DD
$color-back-btn: #B1C3CC;
$color-next-btn: #00B8A9;
$color-gray-line: #D8E1E5;

$color-active: #285AAE;
$color-error: #FF5656;
$color-dark-red: #D03933;
$color-decline: #FF5656;
$color-accept: #80D60A;
$color-warning: #FFA726;

$input-height: 40px;
$input-border-radious: 5px;
$input-font-size: 14px;
$input-placeholder-color: $color-light-gray;
$input-margin-top: 24px;
$input-label-font-size: 12px;
$input-border-color: $color-gray-line;