@import '../../../common/styles/index.scss';

.home-page {
  width: 100%;
  overflow: hidden;

  .top_creative {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 55px;
    position: relative;
    height: 506px;

    ul.round li {
      margin-bottom: 0;
      color: #ffffff;
    }

    .main-width {
      position: relative;
      height: 506px;
      margin: 0 auto;
      max-width: 1260px;
      padding: 0 15px;
    }

    .creative_text {
      margin: 0 0 20px;
      font-weight: 400;
      color: #ffffff;
    }

    .creative_img {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -905px;
      display: block;
      max-width: none;

      @include tablet {
        left: -200px;
        margin-left: 0;
      }
    }
    
    .creative_inner {
      max-width: 500px;
      margin-left: 50%;
      padding: 100px 0 0 10px;
      color: #000;

      > * {
        position: relative;
      }
      
      @include tablet {
        margin-left: 340px;
      }
    }

    .creative_title {
      font-size: 48px;
      line-height: 50px;
      font-weight: 700;
      margin: 0 0 30px;
      letter-spacing: 0.03em;
      max-width: 455px;
      color: #ffffff;
    }
  }
}