<div class="home-page">
  <app-navigation></app-navigation>
  <div class="top_creative">
    <div class="main_width">
      <div class="creative_img"><img src="assets/img/creative2.jpg" alt=""></div>
      <div class="creative_inner">
        <div class="creative_title first_scroll" id="month3">Расчётный счёт <span>в Райффайзенбанке</span></div>
        <ul class="round">
          <li>Бесплатные переводы физическим лицам</li>
          <li>Моментальные платежи</li>
          <li>Бесплатная карта к счёту</li>
        </ul>
        <div class="creative_text">Бесплатно откроем счёт за&nbsp;5&nbsp;минут</div>
        <a routerLink="/login" class="btn toform">Оставить заявку</a>
      </div>
      <div class="mob_round">
        <ul class="round">
          <li>Бесплатные переводы физическим лицам</li>
          <li>Моментальные платежи</li>
          <li>Бесплатная карта к счёту</li>
        </ul>
      </div>
    </div>
  </div>
</div>