.market-item {
  width: 380px;
  height: 500px;
  margin: 10px;
  opacity: 1;

  &--enabled {
    animation: stretch 1.5s ease;
  }

  

  &_img {
    width: 380px !important;
    height: 275px !important;
  }

  &_accept-icon {


    &--enabled {
      background-image: url(/assets/img/accepted-icon.svg);
    }

    &--disabled {
      background-image: url(/assets/img/accept-icon.svg);
    }
  }
}