<div class="field">
  <div class="field__header">
    <h3 class="field__header-header">{{text}}</h3>

    <!-- <div *ngFor="let button of buttons" class="field__header-buttons">
      <ng-container *ngIf="button.type === 'link'">
        <a href="/admin{{button.link}}" class="link">{{ button.text }}</a>
      </ng-container>

      <ng-container *ngIf="button.type === 'button'">
        <button-el
          [form]="form"
          [text]="button.text"
          [style]="button.style || null"
          [id]="button.id"
        ></button-el>
      </ng-container> -->
    <!-- </div> -->
  </div>
</div>
