@import '../../../../common/styles/index.scss';

:host {
  margin-top: $input-margin-top;
  height: $input-height;
  border-radius: $input-border-radious;
  font-size: $input-font-size;

  ::placeholder {
    color: $input-placeholder-color;
  }

  label {
    font-size: $input-label-font-size;
  }
}
